[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
numpy = "*"
opencv-python = "*"
matplotlib = "*"
postify = {path = "./dist/postify-0.0.1.tar.gz"}

[dev-packages]

[requires]
python_version = "3.9"
